* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn {
  display: flex;
  margin-top: 10px;
  margin-left: 12%;
}
.pickup {
  text-overflow: ellipsis;
  border: none;
  border-bottom: 1px solid rgb(72, 69, 69);
  width: 430px;
  margin-top: 20px;
  margin-left: 10px;
}
.drop {
  text-overflow: ellipsis;
  border: none;
  border-bottom: 1px solid rgb(72, 69, 69);
  width: 430px;
  margin-top: 30px;
  margin-left: 10px;
}
.green {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}
.red {
  width: 20px;
  height: 14px;
  margin-left: 20px;
}
.btn1 {
  border-radius: 10px;
  height: 40px;
  background-color: rgb(44, 82, 6);

  color: white;
  border: 2px solid rgb(44, 82, 6);
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 170px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.btn2 {
  border-radius: 10px;
  background-color: whitesmoke;
  font-size: 20px;
  color: black;
  border: 2px solid black;
  width: 150px;
  height: 40px;
  font-weight: bolder;
  margin-top: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.car {
  width: 200px;
  margin-top: 10px;
  height: 45px;
  margin-left: 30px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}
.taxi {
  width: 200px;
  margin-top: 10px;
  height: 45px;
  border-radius: 10px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(244, 195, 71);
  color: black;
  border: 2px solid rgb(244, 196, 74);
}
.last {
  margin-top: 20px;
}
.background {
  background-image: url(../images/luke-stackpoole-YNQgPXShu7g-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
}

.book {
  background-color: rgb(253, 253, 253);
  width: 500px;
  height: 250px;
  border-radius: 20px;
}
.first {
  display: flex;
}

.turbo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 500px;
  margin-top: -200px;
}
.trip {
  width: 100px;
  height: 50px;
}
h1 {
  margin-top: 300px;
  font-size: 60px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 250px;
  color: white;
}
h2 {
  margin-left: 300px;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
p {
  margin-left: 180px;
  margin-top: 10px;
  font-size: 28px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
/* section part-1 */
.download {
  display: flex;
}
.appimage {
  display: flex;
}
.line1 {
  font-weight: bolder;
  font-size: 60px;
  padding-bottom: 30px;
  padding-top: 90px;
  margin-left: 82px;
  letter-spacing: -0.15px;
}
.line2 {
  margin-left: 20px;
  color: rgb(18, 76, 37);
  font-weight: bolder;
  font-size: 35px;
  margin-left: 82px;
  padding-bottom: 30px;
}
.playstore {
  width: 255px;
  height: 65px;
  margin-left: 85px;
  margin-top: 30px;
  transition: 0.5s;
  cursor: pointer;
}
.playstore:hover {
  transform: scale(1.1);
}
.appstore {
  width: 255px;
  height: 65px;
  margin-left: 50px;
  margin-top: 30px;
  transition: 0.5s;
  cursor: pointer;
}
.appstore:hover {
  transform: scale(1.1);
}
.taxi-1 {
  height: 700px;
  width: 600px;
  margin-top: -20px;
}
/* animation: mymove 7s infinite;

@keyframes mymove {
  from {
    right: 0px;
  }
  to {
    right: 30px;
  }
} */
.call-taxi1 {
  background-color: rgb(241, 238, 238);
}
/* footer part */
.icon1 {
  width: 50px;
  height: 30px;
  margin-left: 15px;
}
.address p {
  font-size: 20px;
  color: gold;
  margin-left: 03%;
  margin-top: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.icon {
  margin-left: 4.5%;
}
.icon2 {
  color: gold;
  margin-top: -220px;
  margin-left: 75px;
  font-size: 25px;
}
.icon1 {
  margin-top: 30px;
  height: 50px;
  margin-left: 20px;
}
.footer4 {
  margin-left: 40%;
  margin-top: -220px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bolder;
  color: gold;
}
.footer5 {
  margin-left: 05%;
  font-size: 20px;
  font-weight: bolder;
  margin-top: -220px;
  color: gold;
}
.footer6 {
  display: flex;
}
.footer8 {
  color: rgb(237, 233, 233);
  padding-left: 38%;
  border-top: 1px solid rgb(229, 226, 226);
  padding-bottom: 20px;
  padding-top: 10px;
}
ul {
  padding: 5px;
}
footer {
  background-color: black;
}
.footer {
  display: flex;
}
.footer1 {
  font-size: 30px;
  margin-top: 40px;
  font-weight: bolder;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 20px;
}
.footer2 {
  width: 150px;
  margin-left: 25px;
  margin-top: 70px;
  color: red;
  font-size: 25px;
  font-weight: bolder;
}
.footer7 {
  color: aliceblue;
  font-weight: bold;
  font-size: 25px;
  margin-right: 70px;
}
.address {
  font-size: 20px;
  color: white;
  margin-left: 03%;
  margin-top: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.t2 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.h2 {
  color: white;
  margin-right: 20px;
}
