.btn {
  display: flex;
  margin-top: 10px;
  margin-left: 12%;
}
.pickup {
  text-overflow: ellipsis;
  border: none;
  border-bottom: 1px solid rgb(72, 69, 69);
  width: 430px;
  margin-top: 20px;
  margin-left: 10px;
}
.drop {
  text-overflow: ellipsis;
  border: none;
  border-bottom: 1px solid rgb(72, 69, 69);
  width: 430px;
  margin-top: 30px;
  margin-left: 10px;
}
.green {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}
.red {
  width: 20px;
  height: 14px;
  margin-left: 20px;
}
.btn1 {
  border-radius: 10px;
  height: 40px;
  background-color: rgb(44, 82, 6);

  color: white;
  border: 2px solid rgb(44, 82, 6);
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 170px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.btn2 {
  border-radius: 10px;
  background-color: whitesmoke;
  font-size: 20px;
  color: black;
  border: 2px solid black;
  width: 150px;
  height: 40px;
  font-weight: bolder;
  margin-top: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.car {
  width: 200px;
  margin-top: 10px;
  height: 45px;
  margin-left: 30px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}
.taxi {
  width: 200px;
  margin-top: 10px;
  height: 45px;
  border-radius: 10px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(244, 195, 71);
  color: black;
  border: 2px solid rgb(244, 196, 74);
}
.last {
  margin-top: 20px;
}
body {
  background-image: url(../images/HD-wallpaper-taxi-rank-cab-rank-taxi-car.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
}
.book {
  background-color: rgb(253, 253, 253);
  width: 500px;
  height: 250px;
  border-radius: 20px;
}
.first {
  display: flex;
}

.turbo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 500px;
  margin-top: -200px;
}
.trip {
  width: 100px;
  height: 50px;
}
h1 {
  margin-top: 130px;
  font-size: 60px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 200px;
  color: white;
}
h2 {
  margin-left: 300px;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
p {
  margin-left: 180px;
  margin-top: 10px;
  font-size: 28px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(8, 8, 11);
}
