@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@600;700&family=Chivo:ital,wght@0,600;1,600&family=Outfit:wght@500&family=Space+Mono:wght@700&display=swap");

* {
  font-family: "Barlow", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  justify-content: space-between;
  align-items: center;
  height: 80px;
  display: flex;

  box-shadow: 0px 1px 20px rgb(135, 135, 135);

  background-color: #395b64;
}
.navbar {
  /* margin-right: 50px; */
  padding-right: 40px;
}

.logo img {
  width: 75px;
  height: 075px;
  border-radius: 50px;
  margin-left: 50px;
}
.button {
  width: 150px;
  height: 40px;
  /* margin-right: 100px; */
  background-color: goldenrod;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 19px;
}
button:hover {
  background-color: black;
  color: goldenrod;
  transition: 1s;
  border: none;
}
.head2 {
  display: flex;
  background: rgb(66, 66, 66);
  background: linear-gradient(
    99deg,
    rgba(66, 66, 66, 1) 9%,
    rgba(97, 97, 97, 1) 20%,
    rgba(117, 117, 117, 1) 32%,
    rgba(158, 158, 158, 1) 43%,
    rgba(189, 189, 189, 1) 53%,
    rgba(224, 224, 224, 1) 61%,
    rgba(238, 238, 238, 1) 72%,
    rgba(245, 245, 245, 1) 83%,
    rgba(250, 250, 250, 1) 94%
  );
}
img {
  height: 0150px;
  width: 320px;
}
.img1 {
  height: 0150px;
  width: 320px;
}
.car {
  background-color: lightgray;
  border-radius: 20px;
}

.bike:hover,
.taxi:hover,
.porter:hover {
  background-color: #e2dcc8;
  transition: 1s;
  color: #263159;
  border-radius: 20px;
}
.car,
.bike,
.taxi,
.porter {
  margin: 20px;
}

.taxipool {
  font-size: 30px;
  padding-left: 128px;
}
.porter {
  margin-left: 50px;
}
.porterpool {
  font-size: 30px;
  padding-left: 60px;
}
.carpool {
  font-size: 30px;
  margin-left: 100px;
}
.bikepool {
  font-size: 30px;
  margin-left: 120px;
}
.section {
  display: flex;
  margin-top: 20px;
  background: rgb(66, 66, 66);
  background: linear-gradient(
    237deg,
    rgba(66, 66, 66, 1) 9%,
    rgba(97, 97, 97, 1) 20%,
    rgba(117, 117, 117, 1) 32%,
    rgba(158, 158, 158, 1) 43%,
    rgba(189, 189, 189, 1) 53%,
    rgba(224, 224, 224, 1) 61%,
    rgba(238, 238, 238, 1) 72%,
    rgba(245, 245, 245, 1) 83%,
    rgba(250, 250, 250, 1) 94%
  );
}
.video {
  border-radius: 20px;
  margin-top: 40px;
  /* margin-right: 40%; */
  margin-right: 20px;
}
.h1 {
  font-size: 030px;
  margin-left: 40px;
  margin-top: 30px;
}
.btn {
  margin-top: 40px;
  margin-left: 40px;
  width: 200px;
  height: 60px;
  margin-bottom: 40px;
  font-size: 20px;
  background-color: rgb(46, 119, 246);
  font-weight: bolder;
  color: whitesmoke;
  border-radius: 10px;
  border: none;
}
.img4 {
  height: 0150px;
  width: 310px;
}
.section2 {
  font-size: 030px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 60px;
  background: rgb(66, 66, 66);
  background: linear-gradient(
    129deg,
    rgba(66, 66, 66, 1) 9%,
    rgba(97, 97, 97, 1) 20%,
    rgba(117, 117, 117, 1) 32%,
    rgba(158, 158, 158, 1) 43%,
    rgba(189, 189, 189, 1) 53%,
    rgba(224, 224, 224, 1) 61%,
    rgba(238, 238, 238, 1) 72%,
    rgba(245, 245, 245, 1) 83%,
    rgba(250, 250, 250, 1) 94%
  );
}
.sec2 {
  font-size: 25px;
  margin-bottom: 30px;
}
.carpooling {
  display: flex;
  margin-bottom: 40px;
  background: rgb(66, 66, 66);
  background: linear-gradient(
    299deg,
    rgba(66, 66, 66, 1) 9%,
    rgba(97, 97, 97, 1) 20%,
    rgba(117, 117, 117, 1) 32%,
    rgba(158, 158, 158, 1) 43%,
    rgba(189, 189, 189, 1) 53%,
    rgba(224, 224, 224, 1) 61%,
    rgba(238, 238, 238, 1) 72%,
    rgba(245, 245, 245, 1) 83%,
    rgba(250, 250, 250, 1) 94%
  );
}
.carpooling1 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 40px;
}
.carpooling2 {
  display: flex;
  margin-bottom: 40px;
  background: rgb(66, 66, 66);
  background: linear-gradient(
    140deg,
    rgba(66, 66, 66, 1) 9%,
    rgba(97, 97, 97, 1) 20%,
    rgba(117, 117, 117, 1) 32%,
    rgba(158, 158, 158, 1) 43%,
    rgba(189, 189, 189, 1) 53%,
    rgba(224, 224, 224, 1) 61%,
    rgba(238, 238, 238, 1) 72%,
    rgba(245, 245, 245, 1) 83%,
    rgba(250, 250, 250, 1) 94%
  );
}
.travel1 {
  margin-left: 30px;
  margin-top: 40px;
}
.route1 {
  margin-left: 100px;
  margin-top: 40px;
}

.faster1 {
  margin-left: 30px;
  margin-top: 40px;
}
.travel {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  margin-left: 100px;
}
.route {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  margin-right: 70px;
}
h3 {
  font-size: 45px;
}
h4 {
  font-size: 30px;
}
.middle {
  font-size: 23px;
  margin-top: 20px;
}
h5 {
  margin-left: 38%;
  font-size: 45px;
  margin-bottom: 30px;
}
.map1 {
  width: 350px;
  height: 550px;
}
.map {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
h6 {
  font-size: 40px;
  margin-left: 05%;
  font-weight: bolder;
}
.work {
  margin-left: 05%;
  font-size: 22px;
  margin-bottom: 40px;
  font-weight: bold;
}
.working1 {
  margin-left: 30px;
  font-size: 25px;
  font-weight: bold;
}
.working2 {
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}
.working3 {
  margin-left: 95px;
  font-size: 25px;
  font-weight: bold;
}
.impact {
  display: flex;
  justify-content: space-around;
}

.customer {
  font-size: 25px;
  margin-right: 100px;
  margin-top: 50px;
  font-weight: bold;
}
.ride {
  font-size: 025px;
  margin-top: 50px;
  font-weight: bold;
}
.carbon {
  font-size: 025px;
  margin-top: 50px;
  font-weight: bold;
}
.men {
  width: 150px;
  height: 200px;
}
.audi {
  height: 250px;
  width: 300px;
  margin-top: -40px;
}
.benz {
  height: 200px;
  width: 250px;
}
.h6 {
  margin-bottom: 40px;
  color: #263159;
}
.impact1 {
  display: flex;
  margin-left: 30px;
}
.impact2 {
  display: flex;
  margin-right: 60px;
}
.impact3 {
  display: flex;
  margin-right: 20px;
}
.button1 {
  margin-left: 32%;
  width: 250px;
  height: 50px;
  border-top-left-radius: 20px;
}
.button2 {
  width: 250px;
  height: 50px;
  margin-right: 10%;
  border-bottom-right-radius: 20px;
}
.place {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 25px;
}
footer {
  background-color: black;
}
.footer {
  display: flex;
}
.footer1 {
  font-size: 30px;
  margin-top: 40px;
  font-weight: bolder;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 20px;
}
.footer2 {
  width: 150px;
  margin-left: 25px;
  margin-top: 70px;
  color: red;
  font-size: 25px;
  font-weight: bolder;
}
.footer7 {
  color: aliceblue;
  font-weight: bold;
}
.t2 {
  border-radius: 50%;
  width: 150px;
  height: 140px;
  margin-top: 20px;
  margin-left: 30px;
}
.download {
  display: flex;
  justify-content: space-around;
  background: rgb(66, 66, 66);
  background: linear-gradient(
    299deg,
    rgba(66, 66, 66, 1) 9%,
    rgba(97, 97, 97, 1) 20%,
    rgba(117, 117, 117, 1) 32%,
    rgba(158, 158, 158, 1) 43%,
    rgba(189, 189, 189, 1) 53%,
    rgba(224, 224, 224, 1) 61%,
    rgba(238, 238, 238, 1) 72%,
    rgba(245, 245, 245, 1) 83%,
    rgba(250, 250, 250, 1) 94%
  );
}
.phone {
  height: 500px;
  width: 400px;
}
.app {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.app1 {
  font-size: 47px;
  font-weight: bolder;
  margin-bottom: 30px;
}
.store1 {
  width: 255px;
  height: 65px;
  margin-bottom: 30px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  border: 2px solid black;
}
.store2 {
  width: 255px;
  height: 65px;
  margin-bottom: 30px;
  margin-left: 5px;
  cursor: pointer;
  border: 2px solid black;
}
.app2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.app3 {
  font-size: 25px;
  font-weight: bold;
  color: blue;
}
.download1 {
  margin-top: 70px;
}
.icon1 {
  width: 50px;
  height: 30px;
  margin-left: 15px;
}
.address {
  font-size: 20px;
  color: gold;
  margin-left: 03%;
  margin-top: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.icon {
  margin-left: 4.5%;
}
.icon2 {
  color: gold;
  margin-top: -220px;
  margin-left: 75px;
  font-size: 25px;
}
.icon1 {
  margin-top: 30px;
  height: 50px;
  margin-left: 20px;
}
.footer4 {
  margin-left: 40%;
  margin-top: -220px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bolder;
  color: gold;
}
.footer5 {
  margin-left: 05%;
  font-size: 20px;
  font-weight: bolder;
  margin-top: -220px;
  color: gold;
}
.footer6 {
  display: flex;
}
.footer8 {
  color: rgb(237, 233, 233);
  padding-left: 38%;
  border-top: 1px solid rgb(229, 226, 226);
  padding-bottom: 20px;
  padding-top: 10px;
}
ul {
  padding: 5px;
}
.name {
  font-size: 30px;
  font-weight: bolder;
}
.working {
  background: rgb(66, 66, 66);
  background: linear-gradient(
    299deg,
    rgba(66, 66, 66, 1) 9%,
    rgba(97, 97, 97, 1) 20%,
    rgba(117, 117, 117, 1) 32%,
    rgba(158, 158, 158, 1) 43%,
    rgba(189, 189, 189, 1) 53%,
    rgba(224, 224, 224, 1) 61%,
    rgba(238, 238, 238, 1) 72%,
    rgba(245, 245, 245, 1) 83%,
    rgba(250, 250, 250, 1) 94%
  );
}
body {
  background-color: #a5c9ca;
}
.facility {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-left: 35px;
  margin-bottom: 30px;
}
.cus-1 {
  height: 150px;
  width: 200px;
  padding-left: 30px;
}
.cus-2 {
  height: 150px;
  width: 200px;
  padding-left: 30px;
}

.cus-3 {
  height: 150px;
  width: 200px;
  padding-left: 30px;
}
.client-1 {
  font-size: 25px;
  font-weight: bolder;
  margin-left: 40px;
}
.client-2 {
  font-size: 25px;
  margin-left: 33px;
}
.client-3 {
  font-size: 25px;
  margin-left: 45px;
}
.detail {
  font-weight: bold;
  margin-top: 15px;
  margin-right: 30px;
}
